body{
    display: grid;
    grid-template-areas: "nav nav nav"
                         "banner banner banner"
                         "header header header"
                         "main main main"
                         "section section section"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 5px 100px 95px 115px 130px 40px;         
    margin: 0;
}
.banner{
    background-color: aqua;
    grid-area: banner;

}
nav{
    grid-area: nav;
    background-color: rgb(50, 206, 50);

}
header{
    background-color: blue;
    grid-area: header;
}
main{
    background-color: gray;
    grid-area: main;

}
section{
    background-color: black;
    grid-area: section;
}
footer{
    background-color: violet;
    grid-area: footer;
}