body{
    display: grid;
    grid-template-areas: "nav nav nav"
                         "banner banner banner"
                         "header header header"
                         "main main main"
                         "section section section"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;    
    grid-template-rows: 8px 210px 200px 180px 150px 60px;         
    margin: 0;
}

.banner{
    background-image: url(../notifysite/images/banner.png);
    background-size: cover;
    color: white;
    grid-area: banner;
    margin: 0;
    display: flex; 
}

.banner div:nth-child(2){
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
}

.banner div img{
    width: 150px;
}
.banner h1{
    font-family: 'Pacifico', cursive;
    font-size: 15pt;
    font-weight: normal;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 50px;
    
}

.banner p{
    font-family: 'Roboto', sans-serif;
    font-size: 7pt;
    margin-left: 50px;
    line-height: 3px;

}
nav{
    grid-area: nav;
    background-color: rgb(50, 206, 50);

}

header{
    grid-area: header;
    font-size: 5pt;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }

   header img{
       border-radius: 100px;
       background-color: #89c179;
       border-color: #89c179;
       border-style: solid;
       border-bottom-width: 10px;
       border-top-width: 10px;
       border-right-width: 10px;
       border-left-width: 10px;
       font-size: 5pt;
    
       
   }

   header div{
       display: flex;
       align-items: center;
       text-align: center;
       width: 100%;
}

.icones div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main{
    background-color: gray;
    grid-area: main;

}
section{
    background-color: black;
    grid-area: section;
}
footer{
    background-color: violet;
    grid-area: footer;
}